{% extends "private/base/auth_base.html" %}

{% block title %} Forgot Password {% endblock %}

{% block content %}
<form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="post">
    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
        <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
            <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15" />
            </g>
        </svg>
    </a>
    <h1 class="h6 mb-3">Forgot Password</h1>

    {% for message in get_flashed_messages() %}
    <div class="custom-alert" role="alert">
        {{ message }}
        <button type="button" class="close-btn" aria-label="Close">&times;</button>
    </div>
    {% endfor %}

    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.email.label(class="sr-only") }}
        {{ form.email(class="form-control form-control-lg", placeholder="Your Email", id="inputEmail") }}
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Request Password Reset</button>
    <br/>
    <p class="mb-2">Already have an account? <a href="{{ url_for('auth.login') }}">Login here!</a></p>
    <p class="mt-5 mb-3 text-muted text-center">© 2024</p>
</form>
{% endblock %}
