<h1>Hello World</h1>
</br>
<p>My name in upper case is {{ name | upper }}</p>
</br>
<p>My name in lower case is {{ name | lower }}</p>
</br>
<p>My name in capitalize case is {{ name | capitalize }}</p>
</br>
<p>My name in title case is {{ name | title }}</p>
</br>
<p>{{ massage | safe }}</p>
</br>
<p>strip tag used {{ massage | striptags }}</p>
</br>
<h3>Fovrite Food: </h3>
{% for food in food %}
{% if food == 247 %}
{{ food - 147 }} </br>
{% else %}
{{ food }}</br>
{% endif %}

{% endfor %}

{{ food.0 }}