{% extends 'base.html' %}
{% block content %}


{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 5px;">

    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<div class="container-sm container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">

<h1>Blog posts...</h1>
</br>
</br>




<h2>{{ post.title }}</h2></br>
<b>By: </b>{{ post.author }}</br>
{{ post.slug }}</br><hr>
{{ post.date_posted }}</br>
<hr>
<div class="container-sm container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">
{{ post.content }}</div></br><br/>

<a href="{{ url_for('posts')}}" class="btn btn-primary">back to posts</a>






</div>






{% endblock content %}