{% extends "public/base/public_base.html" %}

{% block title %} About {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-code fa-2x"></i></div>
            <h1 class="text-center">My Flask Blog</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item"><a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>

                <li class="tm-nav-item active"><a href="/about" class="tm-nav-link">
                        <i class="fas fa-user"></i>
                        About
                    </a></li>

                {% if current_user.is_authenticated %}
                <li class="tm-nav-item"><a href="{{ url_for('dashboard.dashboard') }}" class="tm-nav-link">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a></li>
                {% else %}
                <li class="tm-nav-item"><a href="{{ url_for('auth.login') }}" class="tm-nav-link">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a></li>
                <li class="tm-nav-item"><a href="{{ url_for('auth.signup') }}" class="tm-nav-link">
                        <i class="fas fa-user-plus"></i>
                        Signup
                    </a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="tm-mb-65">
            <a href="https://www.facebook.com/zakidhiblaawe.10" target="_blank" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://x.com/ZakiDhiblaawe10" target="_blank" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="https://www.instagram.com/zaki_dhiblawe_101/" target="_blank" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/zakaria-dahir-salad" target="_blank" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
            This blog project is built using Flask, providing a full-featured platform to create, read, update, and
            manage blog posts.
        </p>
    </div>
</header>

<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form role="search" method="post" action="{{ url_for('public.search') }}"
                    class="form-inline tm-mb-80 tm-search-form">
                    {{ form.hidden_tag() }}
                    <input class="form-control tm-search-input" name="searched" type="search" placeholder="Search..."
                        aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="custom-alert" role="alert" style="margin-top: 5px;">
            {{ message }}
            <button type="button" class="close-btn" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% endfor %}



        <div class="row tm-row tm-mb-45">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <img src="{{ url_for('static' , filename='public_static/img/about-01.png')}}" alt="Image"
                    class="img-fluid">
            </div>
        </div>

        <div class="row tm-row tm-mb-40">
            <div class="col-12">
                <div class="mb-4">
                    <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About Me and This Blog</h2>
                    <p>
                        Hi, I'm Zaki Dhiblaawe. This blog is a personal project developed using the Flask framework.
                        It allows users to post, comment, and manage content effortlessly. Through this platform, I aim
                        to
                        showcase my full-stack development skills, integrating front-end and back-end technologies.
                    </p>
                    <p>
                        The blog features user authentication, post categorization, and a comment system, making it a
                        versatile
                        platform for dynamic content creation. It has a streamlined, user-friendly interface with secure
                        access controls
                        for managing posts and comments.
                    </p>
                    <p>
                        As a developer, my focus is on building intuitive, secure, and scalable applications, and this
                        project reflects
                        these principles.
                    </p>
                </div>
            </div>
        </div>

        <footer class="row tm-row">
            <div class="col-md-6 col-12 tm-color-gray">
                Made by: <a rel="nofollow" target="_parent" href="https://www.facebook.com/zakidhiblaawe.10"
                    class="tm-external-link">Zaki
                    Dhiblaawe</a>
            </div>
            <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                Zaki Dhiblaawe - 2024 <nbsp; -&nbsp; By: <a rel="nofollow" target="_parent"
                    href="https://www.facebook.com/zakidhiblaawe.10" class="tm-external-link">Dhiblaawe</a>
            </div>
        </footer>
    </main>
</div>

{% endblock %}
{% block javascripts %}{% endblock %}