{% extends 'base.html' %}
{% block content %}


{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 5px;">

    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<div class="container-sm container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">






<h1>{{ post.title }}</h1></br>
<b>By: </b>{{ post.poster.name }}</br>
{{ post.slug }}</br><hr>
{{ post.date_posted }}</br>
<hr>
<div class="container-sm container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">
{{ post.content | safe}}</div></br>


{% if post.poster.about_author %}
<div class="container-sm container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">
<strong>About me:</strong>
  {{ post.poster.about_author }}
</div>


</br><br/>
{% endif %}





<a href="{{ url_for('public.posts')}}" class="btn btn-primary">back to posts</a>
{% if current_user.is_authenticated %}
{% if post.poster_id == current_user.id %}
<a href="{{ url_for('posts.edit_post', id=post.id)}}" class="btn btn-primary">Edit Post</a>
<a href="{{ url_for('posts.delete_post', id=post.id)}}" class="btn btn-danger">Delete Post</a>
{% endif %}

{% endif%}




</div>






{% endblock content %}