{% extends 'base.html' %}
{% block content %}
<h1>You searched for.... "<em>{{ searched }}</em>"</h1>

{% if posts %}
{% for post in posts %}
<h2>{{ post.title }}</h2></br>
by: {{ post.poster.name }}</br>
{{ post.slug }}</br>
{{ post.date_posted }}</br>
{{ post.content | safe }}</br><br />
<a class="btn btn-info" href="{{ url_for('public.post', id=post.id) }}">View Post</a>
<hr></br>
{% endfor %}
{% else %}
{% if searched%}
<p>No results found for this search "{{ searched }}" .</p>
{%else%}
<p>You forgot to search for a post...</p>
{% endif %}

{% endif %}

<p><a href="/"> return home</a></p>
{% endblock %}